@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

body{
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    width: 100vw;
    overflow-x: hidden;

}

/* width */
::-webkit-scrollbar {
    width: 1px;
    background-color: #000;
  }

.main-login{
    width: 100vw;
    height: 100vh;
    background: #201b2c;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.left-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-login > h1{
    font-size: 3vw; 
    color: #77ffc0;
}

.left-login-image{
    width: 33vw;
}

.right-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.card-login{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #2f2841;
    border-radius: 20px;
    box-shadow: 0px 10px 40x #00000056;
}

.card-login > h1 {
    color: #00ff88;
    font-weight: 800;
    margin: 0;
}

.textfield {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0;
}

.textfield > input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #514869;
    color: #f0ffffde;
    font-size: 12px;
    box-shadow: 0px 10px 40x #00000056;
    outline: none;
    box-sizing: border-box;
}

.textfield > label {
    color: #f0ffffde;
    margin-bottom: 10px;
}

.textfield > input::placeholder {
    color: #f0ffff94;

}

.btn-login {
    width: 100%;
    padding: 16px 0;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    columns: #2b134b;
    background: #00ff88;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
}

.btn-login:hover{
    scale: 1.1;
    transition: 0.6s;
    
}

.footer{
    background: #201b2c;
    color: #00ff88;
    text-align: center;
    height: 10vh;
    justify-items: center;
    align-items: center;
    overflow-x: hidden;
}

.footer p {
    text-align: center;
}

@media only screen and(max-width: 737px){
    .card-login{
        width: 85%;
    }

    div img {
        display: none;
    }
}

@media only screen and (max-width: 600px){
    .main-login{
        width: 100vw;
        height: 100vh;
        background: #201b2c;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        justify-content: center;
        align-items: center;
        overflow-x: hidden;
    }
    .left-login >h1 {
        font-size: 30px;
    }
    
    .left-login{
        width: 100%;
        height: auto;
    }

    .right-login{
        width: 100%;
        height: auto;
    }

    .left-login-image {
        width: 50vh;
    }

    .card-login{
        width: 90%;
        background-color: #2f2841b3;
    }
}